#carousel {
    margin: calc(var(--cellHeight)/2) 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.carousel-arrow {
    border: none;
    height: var(--cellHeight);
    margin: 0 0.313rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenu-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#contenu-carousel > * {
    margin: 0 0.313rem;
}

.carousel-cell {
    cursor: pointer;
    width: var(--cellWidth);
    max-height: var(--cellHeight);
}