// ratio A4 : 1.41451612903
mat-card {
    max-width: 300px;
    text-align: center;
    margin: 15px;
    cursor: pointer;
    transition: scale 0.125s ease-in-out;
}

mat-card:hover {
    scale: 105%;
}