.conteneur-creation {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.conteneur-creation img {
    align-self: center;
}