<div id="header" [ngStyle]="{'background-image': 'url(' + couverture.url + ')'}">
    <h1>Book</h1>
</div>
<div id="categories">
    <div *ngFor="let collection of collections">
        <div>
            <h3 class="titre-categorie">{{collection.categorie.tag}}</h3>
            <p [innerHTML]="collection.categorie.description"></p>
        </div>
        <hr>
        <div>
            <div *ngFor="let item of collection.images">
                <img [src]="item.url"/>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <img [src]="logo.url"/>
    <p>Copyrights Shaima 2022</p>
    <p id="citation">{{citation}}</p>
</div>
