<div id="header" [ngStyle]="{'background-image': 'url(' + couverture.url + ')'}">
    <h1>Book</h1>
</div>
<div id="categories">
    <div *ngFor="let collection of collections" class="categorie">
        <div class="texte-categorie">
            <h3 class="titre-categorie">{{collection.categorie.tag}}</h3>
            <p [innerHTML]="collection.categorie.description"></p>
        </div>
        <mat-divider vertical></mat-divider>
        <app-carousel [cellWidth]="'15.625rem'" [cellsToShow]=4 [loop]=true [data]="collection.images" class="carousel-categorie">
        </app-carousel>
    </div>
</div>
<div id="footer">
    <div class="identite-footer">
        <img [src]="logo.url" id="logo"/>
        <p id="citation">{{citation}}</p>
    </div>
    <p id="copyrights">Copyrights Shaima 2022</p>
</div>
