#header {
    min-height: 19rem;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 52px;
    font-family: 'SaraScribbles';
}

.categorie {
    font-size: 18px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.categorie:nth-child(odd) {
    background-color: var(--category-odd-color);
}

.categorie:nth-child(even) {
    background-color: var(--category-even-color);
}

h3 {
    font-size: 28px;
    font-family: "Audrey";
}

mat-divider {
    height: 19rem;
    margin: 0.625rem;
}

.texte-categorie {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#footer {
    min-height: 9.5rem;
    padding: 1.5rem;
    padding-bottom: 0.625rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.identite-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#citation {
    font-size: 24px;
}

#copyrights {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
