#header {
    min-height: 300px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 52px;
    font-family: BambusaPro_Regular;
}

.categorie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.categorie:nth-child(odd) {
    background-color: #d3b7a2;
}

.categorie:nth-child(even) {
    background-color: #bb9679;
}

h3 {
    font-size: 28px;
    font-family: "Audrey";
}

mat-divider {
    height: 300px;
    margin: 10px;
}

.texte-categorie {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#footer {
    min-height: 150px;
    padding: 25px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#copyrights {
    align-self: flex-end;
}

#citation {
    font-size: 24px;
}